<configuration>
  <system.webServer>
    
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <defaultDocument enabled="true">
      <files>
        <add value="server.js" />
      </files>
    </defaultDocument>
    
    <rewrite>
      <rules>
        <rule name="all">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <webSocket enabled="false" />
    
  </system.webServer>
</configuration>
